@import 'compass';
@import 'zen';

$zen-box-sizing: border-box;
$box-sizing-polyfill-path: '/sites/all/themes/wwuzen/js/boxsizing.htc';
$zen-auto-include-item-base: false;
$zen-auto-include-flow-item-base: false;

%invisible-element {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;

  &:active,
  &:focus {
    position: static !important;
    clip: auto;
  }
}
