@import 'base';

// Western brand font
$muli: 'Muli', Tahoma, Verdana, 'DejaVu Sans', sans-serif;
$serif: Georgia, serif;

#quicktabs-front_page {

  .quicktabs-tabs {
    text-align: center;

    a {
      font-size: 110%;
    }

    a, a:hover, a:active, a:focus {
      text-decoration: none;
    }

  }

}

.pane-menu-menu-front-page-links .menu {

  li {
    text-align: center;
  }

  a {
    font-weight: lighter;
    text-transform: uppercase;
  }

}

.pane-menu-menu-front-page-social-media {

  .menu a {
    @include hide-text;
    background-position: left top;
    background-repeat: no-repeat;
  }

  .menu a:focus {
    opacity: 0.75;
  }

  .menu a:active {
    opacity: 0.5;
  }

  .clean-cbe-facebook {
    background-image: url('../images/IconFB.png');
  }

  .clean-cbe-linkedin {
    background-image: url('../images/IconIN.png');
  }

}

.front .clean-cbe-aside {

  .panel-pane:before {
    font-family: 'entyporegular', sans-serif;
  }

}

.view-cbe-news .views-field-timestamp {
  font-weight: bold;
}

@media screen and (min-width: 800px) {

  #quicktabs-front_page {

    .quicktabs-tabs {
      font-size: 250%;
      line-height: 1.5em;

      a, a:hover, a:active, a:focus {
        text-decoration: none;
        text-align: right;
      }

    }

  }

}
