/**
 * @file
 * Customization for College of Business and Economics
 *
 */

@import 'layout';
@import 'color';
@import 'typography';

@import 'components/faces-of-cbe';

/***** CBE Tables *****/

table {
  .odd {
    a {
      color: $wwu-blue;
    }
  }
}

/***** Calendar view styles *****/
.calendar-calendar {

  td {
    a {
      text-decoration: underline;

      &:hover, &:focus, &:active {
        text-decoration: none;
      }
    }
  }

  .month-view {
    .full {
      tr {
        th.days, td.date-box {
          color: $wwu-black;

          a {
            color: mix($wwu-ocean-blue, $wwu-blue, 50%);
          }
        }
        td.empty {
          color: transparentize($wwu-black, .4);
        }

        td {
          a {
            color: $wwu-ocean-blue;
            text-decoration: underline;

            &:hover, &:focus, &:active {
              text-decoration: none;
              color: $wwu-blue;
            }
          }

          span {
            &.date-display-single {
              color: $wwu-black;
            }
          }
        }
      }
    }
  }

  .month-view, .week-view, .day-view {
    .full {
      th, td {
        color: $wwu-black;
      }

      div.single-day {
        div {
          &.monthview, &.weekview, &.dayview {
            background-color: mix($wwu-lt-blue, white, 20%);
            border: 1px solid $wwu-ocean-blue;
          }
        }
      }
    }
  }
}
