.node-profile {
  .field-pull-quote {
    color: $pull-quote-color;
    font-family: $serif;

    p {
      font-style: normal;
    }

    p::before {
      content: '\201C';
      font-size: 4em;
      line-height: .1em;
      margin-right: .2em;
      vertical-align: -.4em;
    }

    p::after {
      content: '\201D';
      font-size: 4em;
      margin-left: .2em;
      vertical-align: -.6em;
    }
  }
}

.field-photo {
  margin-left: 1em;
}

.views-responsive-grid-profiles {
	.profile-name,
	.profile-program, 
	.profile-body,
	.more-link {
		margin-left: 210px;
	}
	img {
		border: 5px solid $wwu-ocean-blue;
		box-sizing: border-box;
	}
}
